@mixin center-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content-page {

  &-loading {
    @include center-item;
  }

  &-empty {
    @include center-item;
  }

}