@import "~bootstrap/scss/bootstrap";

.app {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.content-page-outer {
  max-width: 100vw;
  height: calc(100vh - 3em);
  overflow-y: scroll;
}
